
 
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="cars" routerLinkActive="active" class="nav-link">Cars</a>
      </li>
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="locations" routerLinkActive="active" class="nav-link">Locations</a>
      </li>
      <!-- <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="about" routerLinkActive="active" class="nav-link">About</a>
      </li> -->
      
      <!-- <li class="nav-item">
        <a  routerLink="create-car" routerLinkActive="active" class="nav-link">Add Car</a>
      </li> -->
  
      <!-- <li class="nav-item">
        <a  routerLink="create-location" routerLinkActive="active" class="nav-link">Add Location</a>
      </li> -->
     <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="login" class="nav-link"> Login </a>  </li>
     <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" class="nav-link"> Logout </a>  </li>
      
  
    </ul>
  </nav>
  
  <h1 class="text-center"> Car Rental</h1>
  
  <div class="container"> 
  <router-outlet></router-outlet>
  </div>
  
  <footer class="footer">
    <div class="container">
      <span>Ionut Anghel 2020</span>
    </div>
  </footer>