<h2 class="text-center">Car List</h2>

    <div class="text-right">
        <input  class="form-group mx-sm-3 mb-2" type="text" name="brand" [(ngModel)]="brand" (ngModelChange)="Search()" placeholder="Search by brand...">

    </div>



<div class="container">
            <table id="#datatable" class="table table-striped display" cellspacing="0" >
                <thead>
                    <tr>
                        <th width = 5% (click)="sort('id')">Id&nbsp;<i class="fa fa-sort"></i></th>
                        <th> Brand </th>
                        <th> Model </th>
                        <th>Color</th>
                        <th (click)="sort('year')">Fabrication year&nbsp;<i class="fa fa-sort"></i></th>
                        <th>is Available</th>
                        <th (click)="sort('pricePerDay')" >Price Per day&nbsp;<i class="fa fa-sort"></i></th>
                        <!-- <th>Location</th> -->
                        <th>Actions</th>
                            
                        
                    </tr>
                </thead>
                <tbody>

      
                    <tr *ngFor= "let car of cars | orderBy: key: reverse | paginate: {itemsPerPage: 5, currentPage: p};">
                        <td> {{car.id}} </td>
                        <td> {{car.brand}} </td>
                        <td> {{car.model}} </td>
                        <td> {{car.color}} </td>
                        <td> {{car.fabricationYear}} </td>
                        <td> {{car.isAvailable}} </td>
                        <td>€ {{car.pricePerDay}} </td>
                        <!-- <td>{{location}}</td> -->
                        <td>
                            <button (click)="updateCar(car.id)" class="btn btn-info">Update</button>
                            <button (click) ="deleteCar(car.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                        </td>
              
                    </tr>
                </tbody>
                <pagination-controls (pageChange) = "p = $event">
                 
                </pagination-controls>
               
            </table>

  
    
  </div>

  <div class="text-center"> 
   <button (click)="goToCreateCar()" class="btn btn-outline-primary btn-lg" > Add car </button> 
  </div>
