<div class="col-md-6 offset-md-3">
    <h3 > Update Car </h3>
    
    <form (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label> Brand </label>
        <input type="text" class="form-control" id="brand"
            [(ngModel)] = "car.brand" name="brand">
    </div>
    
    <div class="form-group">
        <label> Model </label>
        <input type="text" class="form-control" id="model"
            [(ngModel)] = "car.model" name="model">
    </div>
    
    <div class="form-group">
        <label> Color </label>
        <input type="text" class="form-control" id="color"
            [(ngModel)] = "car.color" name="color">
    </div>
    
    <div class="form-group">
        <label> Fabrication year </label>
        <input type="text" class="form-control" id="fabricationYear"
            [(ngModel)] = "car.fabricationYear" name="fabricationYear">
    </div>
    
    <div class="form-group">
        <label> Is Available </label>
        <input type="text" class="form-control" id="isAvailable"
            [(ngModel)] = "car.isAvailable" name="isAvailable">
    </div>
    
    <div class="form-group">
        <label> Price Per Day </label>
        <input type="text" class="form-control" id="pricePerDay"
            [(ngModel)] = "car.pricePerDay" name="pricePerDay">
    </div>
    
    <button class="btn btn-success"  type="submit">Submit</button>
     
    </form>
    </div>