<div class="col-md-6 offset-md-3">
    <h3 > Add Location </h3>
    
    <form (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label> Adress </label>
        <input type="text" class="form-control" id="address"
            [(ngModel)] = "location.address" name="address">
    </div>
    

    <button class="btn btn-success"  type="submit">Submit</button>
     
    </form>
    </div>