<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"> Sign In </h2>
      <!-- Login-->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username" [(ngModel)]="username" >
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password"  [(ngModel)]="password">
        <input type="submit" class="fadeIn fourth" (click)="checkLogin()">
      </form>
    </div>
  </div>