<h2 class="text-center"> Location List </h2>
<div class="container"> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Actions</th>
                
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let location of locations">
            <td> {{location.id}} </td>
            <td> {{location.address}} </td>
            <td>
                <button (click)="updateLocation(location.id)" class="btn btn-info">Update</button>
                <button (click) ="deleteLocation(location.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
               
        </tr>   
    </tbody>

</table>

    
  </div>


  <div class="text-center">
      <button (click)="goToCreateLocation()" class="btn btn-outline-primary btn-lg"> Add Location </button>
  </div>