/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color:blue;
    text-align: left;
    color: white;
}

.background{
    background-image: url(./assets/unnamed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}