 
 
 <div>

    <h3> Welcome to Car Rental App </h3>

    <p>Here you will find a large selection of cars ready to be rented.</p>

<div class="container">
   <img class="img" height="250"   src="assets/audi.jpg" >
   <img class="img" height="250"  src="assets/bmwx6.jpg" >
   <img class="img" height="250"  src="assets/mercedes1.jpg" >
   <img class="img" height="250"  src="assets/audi7.jpg" >
</div>



    <p>What are you waiting for?</p>
    <p>Go on and <button (click)="goToCars()" class="btn btn-primary">Explore</button></p>

 </div>
 